body {
    margin: 0;
    //background-color: #1d1d1f;
    background: rgb(141,33,33);
    background: linear-gradient(90deg, rgba(141,33,33,1) 0%, rgba(2,0,36,1) 100%);
}

main {
    min-height: 100vh;
}

*{ font-family: 'futura', sans-serif; }