body {
    margin: 0;
    background: rgb(141,33,33);
    background: linear-gradient(90deg, rgba(141,33,33,1) 0%, rgba(2,0,36,1) 100%);
}

main {
    min-height: 100vh;
}

h1 {
    font-family: 'futura', sans-serif;
    color: white;
    font-size: 4.5rem;
    font-weight: 900;
    letter-spacing: -0.3rem;
    margin-top: 0;
    margin-bottom: 0;
}

*{ font-family: 'futura', sans-serif; }