@mixin screen-xs {
    @media (max-width: 700px) {
        @content;
    }
}

@mixin screen-md {
    @media (min-width: 700px) and (max-width: 1199px) {
        @content;
    }
}

@mixin screen-xl {
    @media (min-width: 1200px) {
        @content;
    }
}

$heightMinusHeader: calc(100vh - 5rem);
$maxWidth: 80rem;
$textColor: rgb(226, 226, 226);