@use "../theme/utils.scss" as *;

.notFoundSection {
    display: flex;
    flex-direction: column;
    height: $heightMinusHeader;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;

    button {
        margin-top: 1rem;
    }
}