@use "../theme/utils.scss" as *;

.contactPage {
    width: 100%;
    height: $heightMinusHeader;
    display: flex;

    .content {
        display: grid;
        gap: 2rem;
        padding: 1.5rem;
        max-width: $maxWidth;
        margin: auto;
        grid-template-columns: repeat(6, 1fr);

        .text {
            color: $textColor;
            font-size: 1.5rem;
            margin-top: auto;
            margin-bottom: auto;

            @include screen-xs {
                grid-column: 1 / 7;
            }

            @include screen-md {
                grid-column: 1 / 3;
            }

            @include screen-xl {
                grid-column: 1 / 3;
            }

            h1 {
                @include slideInText(0s);
            }

            p {
                color: $textColor;
            }

            p:nth-of-type(1) {
                @include slideInText(0.1s);
            }

            p:nth-of-type(2) {
                @include slideInText(0.2s);
            }

            p:nth-of-type(3) {
                @include slideInText(0.3s);
            }

            @include slideInTextKeyframes;
        }

        .imageContainer {
            margin-top: auto;
            margin-bottom: auto;
            display: none;

            @include screen-xs {
                display: none;
            }

            @include screen-md {
                display: block;
                grid-column: 4 / 7;
            }

            @include screen-xl {
                display: block;
                grid-column: 4 / 7;
            }

            .image {
                width: 100%;
                object-fit: contain;
                @include slideInImage;
            }

            @include screen-xs {
                display: none;
            }

            @include slideInImageKeyframe;
        }
    }
}
